@import "../../style/mains.scss";

.cbs {
  height: 60vh;
  background-image: url("../../assets/cbg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include flexx;
  font-family: $fonts;
  text-align: center;
  text-transform: capitalize;
  color: white;
  .cbs_details {
    h1 {
      font-size: 4.5rem;
      margin-bottom: 15px;
    }
  }
}
